.rating {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.plus {
    border: 1px solid black;
    padding: 3px;
    cursor: pointer;
}

.minus {
    border: 1px solid black;
    padding: 3px 7px;
    cursor: pointer;
}

.modal {
    display: none;
}

.active {
    display: block;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
  }

  .contente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
  }

  .cross {
    position: absolute;
    top: 5%;
    left: 95%;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  